@using AspGestContact.Models.Forms
@model RegisterForm

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="~/home/index">Gestion de Contacts</a>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Auth/Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Auth/Register">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-lg-5">
            @if (!ViewContext.ModelState.IsValid)
            {
                @Html.ValidationSummary(true, $"Le formulaire contient {ViewContext.ModelState.ErrorCount} erreur(s)", new { @class = "text-danger" });
            }
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, null, new { @class = "control-label" })
                        @Html.EditorFor(model => model.LastName, null, null, new { htmlAttributes = new { @class = "form-control", placeholder = "Doe" } })
                        @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, null, new { @class = "control-label" })
                        @Html.EditorFor(model => model.FirstName, null, null, new { htmlAttributes = new { @class = "form-control", placeholder = "John" } })
                        @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, null, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, null, null, new { htmlAttributes = new { @class = "form-control", placeholder = "john.doe@unknow.com" } })
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Passwd, null, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Passwd, null, null, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Passwd, null, new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Confirm, null, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Confirm, null, null, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Confirm, null, new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="form-control btn btn-primary" />
                    </div>
                }
            </div>
        </main>
    </div>
    <footer class="border-top footer text-muted m-auto">
        <div class="container">
            Morre Thierry &copy; @ViewData["Year"]
        </div>
    </footer>
</body>
</html>